/* GLOBAL */
:root{
    --body-bg: rgb(240, 238, 238);
    --main-bg: rgb(115, 176, 245);
    --main-navbar-bg: rgb(83, 129, 180);
    --main-navbar-hov: rgba(54, 97, 146, 0.6);
    --menu-header-border-bg: rgb(82, 15, 82);
    --menu-font-h-color:  rgba(169, 21, 228,0.84);
}
* {
    box-sizing: border-box;
}
body{
    background: var(--body-bg);
    color: white;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Rosario', sans-serif;
}
button{
    cursor: pointer;
}
/*WEBSITE MAIN TEMPLATE */
#main-template{
    margin: 0 auto;
    background: var(--main-bg);
    width: 800px;
    height: 100%;
}
#main-header{
    display: flex;
    justify-content: start;
    margin-left: 210px;
    align-items: center;
}
#main-header > img{
    animation: ani1 2s linear infinite;
}
@keyframes ani1{
    0%{
        transform: rotateZ(15deg);
    }
    20%{
        transform: rotateZ(0deg);
    }
    40%{
        transform: rotateZ(30deg);
    }
    60%{
        transform: rotateZ(0deg);
    }
    80%{
        transform: rotateZ(45deg);
    }
    100%{
        transform: rotateZ(15deg);
    }
}
#main-header, .navbar-text{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.navbar-text:hover{
    background: var(--main-navbar-hov);
}
header{
    font-size: 4.8em;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    padding: 40px 0;
}
#main-nav-bar{
    position: relative;
    background: var(--main-navbar-bg);
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 30px;
    z-index: 7;
}
ul{
    display: flex;
    list-style: none;
}
li{
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    padding: 4px 15px;
}
footer{
    position: relative;
    text-align: center;
    padding: 20px 0;
    font-family: 'Rosario', sans-serif;
    z-index: 5;
}
a{
    text-decoration: none;
}

/*HOME SECTION*/
#img-auto-slider{
    background: url('/dist/images/salmon1.jpg');
    width: 800px;
}
.home-feature-container{
    display: flex;
    margin-top: 17px;
    z-index: 2;
    position: relative;
}
.home-feature-container:nth-child(odd){
    box-shadow: -6px 0 20px rgb(0,0,0.2,0.4);
}
.home-feature-container:nth-child(even){
    display: flex;
    box-shadow: 6px 0 20px rgb(0,0,0.2,0.4);
}
.right-side-text{
    text-align: end;
}
.img-label{
    transform: scale(1.04);
    background: rgb(240, 238, 238);
    width: 400px;
}
.img-label > h2, .img-label > p{
    padding: 10px 25px;
    color: rgba(224, 36, 224);
}
#home-info{
    position: relative;
    color: black;
    margin-top: -89px;
    padding: 115px;
    background: url('assets/images/scroll.gif');
    background-size: 800px;
    background-repeat: no-repeat;
    text-align: center;
    height: 500px;
    z-index: 1;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(157, 157, 231));
}
.endImage{
    margin-top: -143px;
    margin-bottom: -15px;
    width: 800px;
    filter: opacity(0.69) drop-shadow(0 0 0 rgb(197, 197, 226));
}
.newsletter-form{
    display: flex;
    flex-flow: wrap;
    position: relative;
    font-family: 'Raleway', sans-serif;
    height: 200px;
    width: 300px;
    background: rgba(2, 0, 15, 0.85);
    margin: -300px auto 100px auto;
    padding: 20px 20px;
    border-radius: 5%;
    z-index: 7;
}
.newsletter-form > label{
    font-weight: 800;
    font-size: 120%;
}
#newsletter-small-text{
    font-size: 79%;
}
.newsletter-form > input{
    height: 30px;
}
.submit-form{
    background: rgb(216, 214, 214);
    width: 80px;
    height: 30px;
    cursor: pointer;
}
.submit-form:hover{
    background: rgb(255, 251, 251);
}
/* MENU SECTION */
#menu-background{
    background: url('assets/images/seafood-dish1.jpg');
    background-size: 800px;
    position: relative;
    z-index: 1;
    padding-top: 35px;
    margin-top: -25px;
}
#menu-header > h1{
    font-family: 'Yellowtail', cursive;
    font-size: 2.2em;
    padding-left: 15px;
    text-shadow: 2px 2px 5px rgba(1,1,1,0.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#menu-header-wrapper{
    background: var(--menu-header-border-bg);
    width: 385px;
    height: 100px;
    margin: 0 auto;
    z-index: 4;
}
#menu-header{
    position: relative;
    background:  rgba(240, 238, 238, 0.96);
    color: rgb(189, 21, 189);
    margin: -13px -25px 0 20px;
    height: 66px;
    z-index: 5;
}
#menu-category-container{
    position: relative;
    background:rgb(228, 234, 241);
    color: var(--menu-font-h-color);
    padding: 1px 40px;
    margin: 95px 0;
    box-shadow: 0 0 7px 0 rgb(5, 36, 71, 0.3);
    transform: scale(1.13);
    z-index: 3;
}
#menu-category-container > h2{
    border-bottom: 5px dotted rgba(189, 21, 189,0.1);
    border-left: 5px solid rgba(236, 53, 212, 0.3);
}
.item-box{
    display:flex;
    height: 75px;
    width: 600px;
    margin: 0 auto;
}
.item-box:not(:last-child){
    border-bottom: 1px solid rgba(1,1,1,0.1);
}
.image-holder{
    height: 55px;
    width: 85px;
    border: 1px solid rgba(156, 148, 148,0.5);
    margin-top: 10px;
}
.food-info-container{
    height: 100%;
    width: 100%;
    padding-left: 10px;
}
.food-label{
    display: flex;
    justify-content: space-between;
    height: 10px;
}
.food-label > p, .food-label > h3 {
    line-height: 0;
}

/*ABOUT-US SECTION*/
#about-us{
    position: relative;
    border-bottom: 1px solid rgba(206, 26, 176, 0.4);
    text-shadow: 4px 4px 2px var(--menu-font-h-color);
    margin: 55px 103px;
    width: 86%;
    z-index: 7;
}
.about-section{
    position: relative;
    margin-top: -90px;
    background:rgb(228, 228, 236);
    color:rgba(224, 36, 224);
    padding: 40px 120px 40px 120px;
    transform: scale(1.11);
    white-space: pre;
    z-index: 5;
    text-align: justify;
    box-shadow: 0 0 10px rgb(0,0,0.2,0.4);
;}
#about-page > img{
    position: relative;
    width: 800px;
    filter: opacity(0.6) drop-shadow(0 0 0 rgba(0, 0, 0, 1));
    z-index: 3;
    margin-top: -155px;
    box-shadow: 0 0 7px 42px rgba(1,1,1,0.07);
}

/* contacts */
#map{
    width: 800px;
    height: 500px;
}
.contact-box{
    height: 540px;
    width: 800px;
    background: url('assets/images/shell.jpg');
    margin-top: -15px;
}
.contacts-header{
    color: rgb(145,25,25);
    font-size: 2.2em;
    margin-bottom: -3px;
    padding-left: 15px;
}
.header-border3{
    position: relative;
    margin-left: 115px;
    width: 400px;
    padding: 0 32px 12px 0;
    z-index: 6;
}
.header-border2{
    padding: 0 32px 12px 0;
    border-right: 2px solid rgba(1,1,1,0.4);
    border-bottom: 2px solid rgba(1,1,1,0.4);
    background: rgba(255,255,255,0.8);
    box-shadow: inset -8px -4px 5px rgb(1,1,1,0.12);
}
.header-border1{
    padding: 0 32px 12px 0;
    border-left: 2px solid rgba(1,1,1,0.6);
    border-bottom: 2px solid rgba(1,1,1,0.6);
    background: rgba(255,255,255,0.3);
    text-shadow: -1px -1px 5px rgb(9, 158, 133);
    box-shadow: inset 8px -4px 5px rgb(1,1,1,0.12);
}
.contacts-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 800px;
    height:450px;
    background: rgba(253, 253, 253, 0.1);
    box-shadow: 0 0 4px rgba(1,1,1,0.5);
    z-index: 5;
}
.contacts-info-container > form{
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    height: 200px;
    width: 300px;
    background: linear-gradient(#e734cf, #53c3c7); 
    color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
#contact-location-info{
    width: 323px;
    height: 100px;
    margin: 25px;
    font-family: 'Rosario', sans-serif;
    color: rgb(182, 13, 224);
    text-align: center;
    background: rgb(255,255,255);
    white-space: pre;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}
#contact-location-info > div{
    margin: 25px;
}
#map{
    position:relative;
    z-index: 6;
}